.container {
  padding: 0 50px;
  margin: 0 auto
}

/* Result Section */
.resultSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

/* Thumbnail */
.thumbnail {
  width: 360px;
  height: 200px;
  background-color: #000;
  border-radius: 12px;
  overflow: hidden;
  margin-right: 20px;
}

.thumbnail img {
  height: 100%;
  display: block;
  margin: 0 auto
}

/* Details */
.details {
  /* width: calc(100% - 360px) */
  overflow: hidden;
}

.details small {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  /* width: 200px; */
  display: block;
}
.channel {
  width: 100%;
}
.channelImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px
}

.channel a {
  width: 100%;
  display: flex;
  color: #000;
  align-items: center;
  text-decoration: none;
  color: #606060
}

.channelImg img {
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

/* Mobile */
@media (max-width: 767px) {
  .container {
    padding: 0 20px
  }
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}



/* Tablet and Smaller Desktop */
@media (min-width: 767px) and (max-width: 1200px) {
  .container {
    max-width: 70%;
  }
}

@media (min-width: 1200px) {
  .container { max-width: 60%; }
  
}
