.container {
  padding: 0 50px;
  margin: 0 auto
}

.nav {
  display: flex;
  align-items: center;
  margin: 20px 0 30px 0
}

.nav img { width: 120px }
.resultSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.nav form {
  margin-left: 20px;
  width: 100%;
}

.nav input, .nav button {
  padding: 10px;
  border: 1px solid #aaa
}
.nav input {
  width: 75%;
  border-radius: 50px 0 0 50px;
}
.nav button {
  width: 25%;
  border-left: 0;
  background-color: #f3f3f3;
  border-radius: 0 50px 50px 0;
}

/* Thumbnail */
.thumbnail {
  width: 360px;
  height: 200px;
  background-color: #000;
  border-radius: 12px;
  overflow: hidden;
  margin-right: 20px;
}

.thumbnail img {
  height: 100%;
  display: block;
  margin: 0 auto
}

/* Details */
.details {
  overflow: hidden;
}

.details small {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  display: block;
}
.channel {
  width: 100%;
}
.channelImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px
}

.channel a {
  width: 100%;
  display: flex;
  color: #000;
  align-items: center;
  text-decoration: none;
  color: #606060
}

.channelImg img {
  height: 100%;
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px
  }
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .container {
    max-width: 70%;
  }
}

@media (min-width: 1200px) {
  .container { max-width: 60%; }
  
}

@media (max-width: 355px) {
  .nav {
    flex-direction: column;
  }
  .nav button {
    display: none;
  }
  .nav input {
    margin-top: 20px;
    border-radius: 50px;
    width: 100%;
  }
}
